name: Deploy Docs & Demo

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Prepare deployment folder
      - name: Prepare deployment folder
        run: |
          mkdir -p docs
          touch docs/.nojekyll   # prevent GitHub Pages from running Jekyll
          # Demo at the root
          cp -r demo/dist/* docs/
          # Docs under /docs/
          mkdir -p docs/docs
          cp -r docusaurus/build/* docs/docs/

      # Upload for GitHub Pages
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs
